@model PartnerWeb.Models.Partner

@{
    ViewBag.Title = "Create";
}

<div class="d-flex flex-row justify-content-center">
    <h2 class="m-5">Create new Partner</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="d-flex flex-row justify-content-center w-100">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group w-100">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.PartnerNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.PartnerNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartnerNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.CroatianPIN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.CroatianPIN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CroatianPIN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.PartnerTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.DropDownListFor(model => model.PartnerTypeId, ViewBag.PartnerTypes as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PartnerTypeId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.CreateByUser, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.CreateByUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreateByUser, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.IsForeign, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsForeign)
                        @Html.ValidationMessageFor(model => model.IsForeign, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.ExternalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.EditorFor(model => model.ExternalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExternalCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group w-100">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5 w-100">
                    @Html.DropDownListFor(model => model.Gender, new SelectList(new[] { "M", "F", "N" }), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-5 btn btn-success w-100 mt-4" style="color:white">
                    <input type="submit" id="createBtn" value="Create" class="btn btn-default rounded" />
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary rounded", style = "text-decoration:none; color:white" })
</div>


