@model IEnumerable<PartnerWeb.Models.Partner>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Partner Web App</h2>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary">
        @Html.ActionLink("Add new Partner", "Create", null, new {style="text-decoration:none; color:black;"})
    </button>
</div>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartnerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CroatianPIN)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.CreatedAtUtc)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.PartnerTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsForeign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CroatianPIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsForeign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>